.field-container{
    width: 320px;
    margin: auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.input-field{
    height: 25px;
    margin-top: 10px;
}

.input-title{
    display: flex;
    justify-content: space-between;
    width: 200px;
}